@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Asap|Varela+Round|Montserrat|Raleway|Poppins|Lato|Lexend+Deca");

$main-color: #00658b;
$dark-color: #004b68;

$font-family-monospace: "Lexend Deca", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";


.navbar {
    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
}

.navbar.bg-primary {
    background: none;
    background-color: $main-color !important;
}

.navbar .logo {
    float: left;
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    padding: 0;

    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
}

.navbar.bg-primary .logo {
    background-image: url("../images/logo-white.png") !important;
}

.navbar ul {
    padding: 10px 0;
}

.navbar ul li a {
    display: inline-block;
    padding: 10px 5px;
    margin: 0 10px;
    list-style: none;

    font-family: $font-family-monospace;
    font-size: 20px;
    text-transform: uppercase;
    color: lightgray;


    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
}

.navbar ul li a.active {
    background-color: $dark-color !important;
}

.banner {
    background: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
    ),
    url("../images/header-background.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    margin: 0;
    display: block;
    position: relative;
}

.banner-heading {
    color: white;
    font-size: 75px;
    width: 100%;
    margin: 250px 0 0 0;
    display: inline-block;
    text-align: center;
    font-family: "Asap", sans-serif;
}

.banner-sub-heading {
    color: #a1a1a1;
    font-size: 25px;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
    font-family: "Asap", sans-serif;
}

.profile-image {
    display: block;
    margin: -107px auto;
    width: 200px;
    height: 200px;
    background: url("../images/profile-image.jpeg") no-repeat;
    background-size: cover;
    border: 7px solid white;
    border-radius: 100%;
    z-index: 2;
    position: relative;
}

/** MAIN **/

main {
    width: 100%;
    display: block;
    margin: 150px 0 50px;
}

.sub-heading {
    @extend .text-uppercase, .text-center, .my-5, .text-monospace;
    letter-spacing: 1.5px;
}

.icon-box {
    @extend .px-4;
}

.icon-box p {
    @extend .text-justify
}

.icon-box span {
    @extend .text-center;
    background: lighten($main-color, 60%);
    color: $main-color;
    width: 80px;
    height: 80px;
    padding: 32px 0;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    font-size: 25px;
}

.icon-box h1 {
    @extend .text-center;
    margin: 15px 0 20px;
}

.card-link {
    @extend .text-uppercase, .float-right, .mx-1, .p-2;
    transition: all, .3s ease-in-out;
    -webkit-transition: all, .3s ease-in-out;
    border-radius: 3px;
}

.card-link:hover {
    background-color: lightgray;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #3e4249;
    color: white;
    padding: 20px 100px;
    box-sizing: border-box;
}

footer .copyright {
    text-align: right;
    display: block;
    margin: 16px 0;
}