@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Open+Sans&display=swap');
@import '~bootstrap/scss/functions';
@import '~argon-design-system-react/src/assets/scss/argon-design-system/variables';
@import '~bootstrap/scss/bootstrap';

$default: darken($teal, 20%);
$light: $teal;
$dark: #21565e;

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;

@import '~argon-design-system-react/src/assets/scss/argon-design-system/theme';
@import 'header';
@import 'footer';

.animate {
    transition: 0.3s ease-in-out all;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    font-family: "Montserrat", sans-serif;
    color: $default;
}

.heading-line {
    &:after {
        content: ' ';
        display: block;
        margin: 20px 0;
        height: 6px;
        width: 64px;
        background: $default;
    }
}

.page-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $default;
}

.lead {
    font-family: "Montserrat", sans-serif;
}

.secondary {
    //text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: $dark;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: $font-size-lg;
}


.content-section {
    padding: 15% 0;
    //min-height: 100vh;

    .col {
        padding: 0 25px;

        flex-basis: initial;
        margin: 15px auto !important;

        @media (min-width: $breakpoint-m) {
            margin: 0;
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    .content-title {
        @extend .secondary;
        font-size: 16px;
        text-align: center;
        margin-bottom: 15%;

        &:before, &:after {
            content: ' ';
            display: inline-block;
            margin: 4px 24px;
            height: 4px;
            width: 32px;
            background: $default;
        }
    }
    &:nth-child(odd) {
        background: $secondary;
    }
}

.icon-card {
    @extend .col-sm, .shadow, .animate;
    padding: 24px;
    border: 0;
    background: $white;
    margin-top: 64px;

    h5 {
        margin: 24px 0;
        text-align: center;
    }

    h5.red {
        color: darken($red, 20%);
    }

    h5.green {
        color: darken($green, 20%);
    }

    i.heading-icon {
        margin: -64px auto 0;
        position: relative;
        font-size: 32px;
        border-radius: 100%;
        padding: 24px;
        color: $white;
        background: $light;
    }

    i.heading-icon.red {
        background: $red;
    }

    i.heading-icon.green {
        background: $green;
    }

    &:hover {
        @extend .shadow-lg--hover
    }
}

.card-link {
    width: auto;
    text-align: right;

    i {
        margin: 0 10px;
    }
}

.btn .spinner-border {
    display: inline-block;
    width: 16px;
    height: 16px;
}
